doctype html
html
  head
    title Chefs
    style.
      body {
      background: url("Images/5.jpg");
      }
      ul li {
      float: left;
      width: 210px;
      color: white;
      font-size: 25px;
      font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
      font-style: italic;
      }
  body
    ul
      li Sanjeev Kapoor
      li Vikas Khanna
      li George
      li Kunal Gupta
      li Yash chopra
      li Hanna Dsouza
      li Nisha Madhulikar
      li Aadarsh Rathore
      li Mandeep Rana
      li Mohi Baig
      li kapil Sharma
      li Rohit Sharma
