doctype html
html
  style.
    h1 {
    color: blue;
    text-align: center;
    font-style: italic;
    }
    body {
    background-color: grey;
    }
  body
    h1 Direction From Current Location (Bangalore,India)
    img(src='Images/map.png', width='1300', height='570')