doctype html
html
  link(href='style.css', rel='stylesheet')
  head
    title  Restaurant 
  body
    ul
      li
        a(href='#')  Home 
      li
        a(href='#')
          | About us 
          ul
            li
              a(href='sea') About SeaFood
            li
              a(href='mv') SeaFood Facts
            li
              a(href='team') Our team
            li
              a(href='chef') Chefs
      li
        a(href='menu')  Menu 
      li
        a(href='food')  Order 
      li
        a(href='#')
          | Contact 
          ul
            li
              a(href='fbform')  Feedback
            li
              a(href='maps') Maps
            li
              a(href='dir') Direction
      li
        a(href='#')
          | Admin Login
          ul
            li
              a(href='login') Login
    br
    br
    br
    br
    br
    br
    br
    p
    h2  *Blue Lagoon Restaurant* 
    h3  Exotic SeaFood Restaurant...
    h4
      | Wish Your Fish!!
      br
      | Grab Your Crab!!
    p
