doctype html
html
  style.
    body {
    background-image: url("Images/555.jpg");
    }
    input[type=text],
    input[type=password] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }
    button {
    background-color: green;
    color: black;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    }
    button:hover {
    opacity: 0.8;
    }
    .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: brown;
    }
    .imgcontainer {
    text-align: center;
    }
    img.avatar {
    width: 15%;
    border-radius: 18%;
    }
    .container {
    padding: 80px 500px;
    }
  body
    form(action='staff' method="POST")
      .imgcontainer
        img.avatar(src='Images/img.png', alt='Avatar')
      .container
        label
          b Username
        input(type='text', placeholder='Enter Username', name='uname', required='')
        label
          b Password
        input(type='password', placeholder='Enter Password', name='psw', required='')
        button(type='submit') Login
        input(type='checkbox', checked='checked')
        |  Remember me
