doctype html
html
  style.
    h1 {
    color: blue;
    text-align: center;
    font-style: italic;
    }
    h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    }
    body {
    background-color: grey;
    }
  body
    h1 Google Maps
    img(src='Images/map1.png', width='1300', height='570')
    h2 Contact no - 7829194298
    h2 Email - seaside234@gmail.com 
