doctype html
html
  head
    title SeaFood
  style.
    body {
    background-color: gray;
    }
    h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: rebeccapurple;
    text-align: center;
    }
    h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: brown;
    text-align: left;
    }
    h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    }
    p {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 20px;
    }
  body
    h1 SeaFood...
    h2 10 Seafood Facts that Will Surprise You!!
    p
      | Whether it’s a delicious plate of pasta with shrimp, a steaming lobster, or a salmon fillet cooked to flaky perfection, seafood is incredibly popular around the world. In some countries, seafood isn’t just the main meat that most people get to eat
      | but one of the main food staples in general. Some parts of the world aren’t great for agriculture, and thus seafood is essential to the survival of millions of people. But despite its popularity, there are still many misconceptions about seafood.
    h3 1.Lobsters And Crabs Do Feel Pain
    img(src='Images/11.jpg')
    br
    p
      | For a long time, pro-animal activists have decried the practice of boiling lobsters alive when cooking them. They attest that this is an inhumane practice akin to torture. Those who enjoy lobster have always explained away the practice of live boiling
      | by claiming lobsters—and other similar crustaceans—cannot actually feel pain.
    p
    h3 2.Parasitic Nematodes
    img(src='Images/12.jpg')
    br
    p
      | If you buy a nice thick fillet at the grocery store, there’s always the chance you will find a rather nasty surprise. Popular fish—like trout and salmon—are common targets for parasitic roundworms like Anisakis simplex. These cuddly little darlings
      | curl up into a nasty little circle and nest themselves firmly in the flesh of your future meal. These parasites are common enough that many major fisheries will check carefully with lights and candles for parasites, though they still get through
      | occasionally.
    h3 3.The Great Shrimp Vein Debate
    img(src='Images/13.jpg')
    br
    p
      | Shrimp is one of the most popular seafood dishes in the world. Surprisingly, there’s a lot of confusion about whether or not a shrimp should be deveined before cooking it. The “vein” is actually the shrimp’s intestine, so there’s a decent chance that
      | when you caught the shrimp he still had the remains of his last meal. Shrimp are bottom feeders, and remains in the intestines are said to make the shrimp taste gritty.
    h3  4.The Salmon Of Knowledge
    img(src='Images/14.jpg')
    br
    p
      | rish legend tells of a salmon that possessed great wisdom and ability. The one whom the Salmon chose to eat it would receive divinatory powers. A druid named Finneigas was waiting patiently for the fish to swim by so he could catch it and eat it until
      | he was all-powerful. After a very long wait, he finally caught sight of the elusive salmon and snatched him out of the water. Since he wasn’t going to just eat it raw, Finneigas ordered a young lad named Demne to cook the magical fish. He then
      | waited patiently to finally reach his ultimate triumph.
    h3 5. Shark Finning
    img(src='Images/15.jpg')
    br
    p
      | While sharks may not be everyone’s favorite ocean creature, most people would probably still find the practice of shark finning more than a little absurd. In order to complete an expensive delicacy called shark fin soup, shark finners capture sharks,
      | cut off their fin, and toss the shark back into the ocean to die. Like we said: absurd.
    h3 6.Raw Fish Is Usually Frozen 
    img(src='Images/16.jpg')
    br
    p
      | If you’ve eaten sushi or sashimi in the United States, it was likely frozen long before it ever reached your plate, despite the whole point being to eat it raw. It turns out United States food inspection authorities are pretty concerned about people
      | eating raw food. Any raw fish sold in the United States has to first go through a deep freeze to kill off bacteria before selling the fish to customers. Tuna is the one exception to the freezing rule, though many of those who sell it freeze it
      | anyway. Many United States sushi bar patrons are deeply concerned with having their fish fresh, but they also want fish that isn’t in season. This means that many sushi bar operators are often freezing tuna—sometimes for up to two years. Interestingly,
      | some connoisseurs will admit that they themselves cannot tell the difference between frozen and fresh tuna.
    h3  7.Mahi Mahi Is Not Dolphin
    img(src='Images/17.jpg')
    br
    p
      | Many people get very confused about mahi mahi and think that it’s somehow related to the dolphin family. This confusion is understandable—for a long time, mahi mahi was actually known as the dolphinfish. While it might seem odd that we were calling
      | this fish a dolphin when it looks nothing like one, it turns out there’s a totally reasonable explanation. Mahi mahi have a habit of swimming alongside boats, so people began associating them with dolphins. Unfortunately for commercial fishers,
      | this was about the worst thing that could happen.
    h3  8.Scandinavian Fish Spread
    img(src='Images/18.jpg')
    br
    p
      | For those who live in the United States, peanut butter is one of the most ubiquitous food items around. However, in parts of the world like Scandinavia, peanut butter is viewed as more of a strange curiosity that those crazy Americans slather all
      | over their food for some reason.Scandinavians do agree that spreads are a great way to eat your favorite foods, but they prefer theirs come from fish. Apart from turning roe or herring into a delicious salty spread, fish are also sold pickled
      | in jars there. Pickled herring is one of the more popular dishes, coming in a wide variety of flavors.
    h3  9.Eating Shellfish Only During ‘R’ Months Isn’t Necessary
    img(src='Images/19.jpg')
    br
    p
      | You may have heard how you’re only supposed to eat shellfish during months containing the letter “r.” The reasons given for doing so are both numerous and dubious. Some people still follow this advice today while others question whether or not there’s
      | actually any need to do so.
    h3 10.Eels And The Discovery Of Anaphylaxis 
    img(src='Images/20.jpg')
    br
    p
      | As mentioned earlier, we freeze raw sushi and sashimi so they can be safely served. However, there is one tasty delight that needs to be cooked no matter what: eel. Eating uncooked eel can do more than just ruin your day—even a small amount is likely
      | to kill you. Eel blood is really, really poisonous. While freezing is usually fine for dealing with bacteria or rendering anisakis inert, it does nothing to remove the toxicity of eel blood. The only way to kill the toxic protein is to thoroughly
      | cook the fish.
