doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style.
      * {
      box-sizing: border-box
      }
      body {
      font-family: Verdana, sans-serif;
      }
      .mySlides {
      display: none
      }
      .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
      }
      .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
      }
      .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
      }
      .dot {
      height: 13px;
      width: 13px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      }
      .active {
      background-color: #717171;
      }
      .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
      }
      @-webkit-keyframes fade {
      from {
      opacity: .4
      }
      to {
      opacity: 1
      }
      }
      @keyframes fade {
      from {
      opacity: .4
      }
      to {
      opacity: 1
      }
      }
      @media only screen and (max-width: 300px) {
      .text {
      font-size: 11px
      }
      }
      body {
      background-color: skyblue;
      }
      h1 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 30px;
      text-decoration: underline;
      color: black;
      }
      p {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 22px;
      }
      ul li {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 22px;
      }
  body
    // <h1> Steal Your Meal!! </h1>
    .slideshow-container
      .mySlides.fade
        .numbertext 1 
        img(src='Images/111.jpg', style='width:100%')
      .mySlides.fade
        .numbertext 2 
        img(src='Images/999.jpg', style='width:100%')
      .mySlides.fade
        .numbertext 3 
        img(src='Images/welcome4.jpg', style='width:100%')
      .mySlides.fade
        .numbertext 4 
        img(src='Images/11.jpg', style='width:100%')
      .mySlides.fade
        .numbertext 5 
        img(src='Images/b.jpeg', style='width:100%')
      .mySlides.fade
        .numbertext 6
        img(src='Images/d.jpg', style='width:100%')
      .mySlides.fade
        .numbertext 7 
        img(src='Images/e.jpg', style='width:100%')
      .mySlides.fade
        .numbertext 8 
        img(src='Images/f.jpg', style='width:100%')
      .mySlides.fade
        .numbertext 9
        img(src='Images/g.jpg', style='width:100%')
      .mySlides.fade
        .numbertext 10
        img(src='Images/p.jpg', style='width:100%')
      .mySlides.fade
        .numbertext 11 
        img(src='Images/i.jpg', style='width:100%')
      .mySlides.fade
        .numbertext 12 
        img(src='Images/j.jpg', style='width:100%')
      .mySlides.fade
        .numbertext 13 
        img(src='Images/k.jpg', style='width:100%')
      .mySlides.fade
        .numbertext 14 
        img(src='Images/n.jpg', style='width:100%')
      .mySlides.fade
        .numbertext 15 
        img(src='Images/welcome2.jpg', style='width:100%')
      br
      div(style='text-align:center')
        span.dot
        span.dot
        span.dot
        span.dot
        span.dot
        span.dot
        span.dot
        span.dot
        span.dot
        span.dot
        span.dot
        span.dot
        span.dot
        span.dot
        span.dot
      h1 SeaFood
      p
        | Seafood is any form of sea life regarded as food by humans. Seafood prominently includes fish and shellfish. Shellfish include various species of molluscs, crustaceans, and echinoderms. Historically, sea mammals such as whales and dolphins have
        | been consumed as food, though that happens to a lesser extent in modern times. Edible sea plants, such as some seaweeds and microalgae, are widely eaten as seafood around the world, especially in Asia (see the category of sea vegetables).
      h1 Types Of SeaFood
      p
        | Seafood is any form of sea life regarded as food by humans. It prominently includes fish, shellfish, and roe. Shellfish include various species of molluscs, crustaceans, and echinoderms. Historically, sea mammals such as whales and dolphins have
        | been consumed as food, though that happens to a lesser extent in modern times. Edible sea plants, such as some seaweeds and microalgae, are widely eaten as seafood around the world, especially in Asia (see the category of sea vegetables).
        | In North America, although not generally in the United Kingdom, the term "seafood" is extended to fresh water organisms eaten by humans, so any edible aquatic life may be broadly referred to as seafood.
      h1 Health Benefits
      ul
        li
          | Research over the past few decades has shown that the nutrients and minerals in seafood can make improvements in brain development and reproduction and has highlighted the role for seafood in the functions of the human body.
        li
          | Doctors have known of strong links between fish and healthy hearts ever since they noticed that fish-eating Inuit populations in the Arctic had low levels of heart disease.
        li
          | 10–12% of the human brain is composed of lipids, including the omega-3 fat DHA. Recent studies suggest that older people can boost their brain power by eating more oily fish, what with regular consumers being able to remember better and think
          | faster than those who don't consume at all.
        li
          | Including fish as a regular part of a balanced diet has been shown to help the symptoms of rheumatoid arthritis – a painful condition that causes joints to swell up, reducing strength and mobility. Studies also show that sufferers feel less
          | stiff and sore in the morning if they keep their fish oil intake topped up.
        li
          | Fish is high in minerals such as zinc, iodine and selenium, which keep the body running smoothly. Iodine is essential for the thyroid gland, which controls growth and metabolism, while selenium is used to make enzymes that protect cell walls
          | from cancer-causing free radicals, and helps prevent DNA damage caused by radiation and some chemicals.
        li
          | ish is also a source of vitamin A, which is needed for healthy skin and eyes, and vitamin D, which is needed to help the body absorb calcium to strengthen teeth and bones.
      h1 Health Hazards
      p
        | Fish and shellfish have a natural tendency to concentrate mercury in their bodies, often in the form of methylmercury, a highly toxic organic compound of mercury. Species of fish that are high on the food chain, such as shark, swordfish, king
        | mackerel, albacore tuna, and tilefish contain higher concentrations of mercury than others. This is because mercury is stored in the muscle tissues of fish, and when a predatory fish eats another fish, it assumes the entire body burden of
        | mercury in the consumed fish. Since fish are less efficient at depurating than accumulating methylmercury, fish-tissue concentrations increase over time. Thus species that are high on the food chain amass body burdens of mercury that can be
        | ten times higher than the species they consume. This process is called biomagnification. The first occurrence of widespread mercury poisoning in humans occurred this way in Minamata, Japan, now called Minamata disease. Shellfish are among
        | the more common food allergens. A common misconception is a cross-reactivity between seafood and iodinated radiocontrast agents.
      script.
        var slideIndex = 0;
        showSlides();
        function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
        slideIndex = 1
        }
        for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 2500); 
        }