doctype html
html
  head
    title Staff
    style.
      body {
      background-image: url('Images/666.jpg'), url('Images/mis.jpg');
      background-repeat: no-repeat;
      background-position-x: 0px, 670px;
      background-position-y: 0px, 0px;
      background-color: skyblue;
      align-items: center;
      }
      button {
      align-items: center;
      color: wheat;
      width: 150px;
      height: 50px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 20px;
      background-color: black;
      }
      h2 {
      float: left;
      font-style: italic;
      font-size: 20px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      }
      form {
      text-align: center;
      }
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  img(src='Images/3.jpg', width='250px')
  img(src='Images/e.jpg', width='250px')
  img(src='Images/4.jpg', width='250px')
  img(src='Images/g.jpg', width='260px')
  img(src='Images/2.jpg', width='250px')
  br
  br
  form(method='get', action='http://127.0.0.1:6060/stf')
    button(type='submit') Staff Details
  br
  form(method='get', action='http://127.0.0.1:6060/od')
    button(type='submit') Order Details
  br
  form(method='get', action='http://127.0.0.1:6060/fb')
    button(type='submit') Feedback
